.card {
    display: flex;
    border: 1px solid #000;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 60%
}

.card .info {
    text-align: left;
    padding: 0 0.5rem;
}

.card .info span {
    font-weight: bold;
}

.card .info p {
    margin: 0;
}

.Greetings{
    border: 1px solid;
    font-size: 30px;
    margin: 10px;
    width: 60%
}

.random{
    border: 1px solid;
    font-size: 30px;
    margin: 10px;
    width: 60%
}